.DS_Store
Budget Parts.numbers
.DS_Store
STR500_code/.DS_Store
STR500_v1.1_build/.DS_Store
STR500_v1.1_build/STR500_KiCAD_project/.DS_Store
documentation/photos/originals/DSC_0143.NEF
documentation/photos/originals/DSC_0144.NEF
documentation/photos/originals/DSC_0144.photo-edit
documentation/photos/originals/DSC_0145.NEF
documentation/photos/originals/DSC_0145.photo-edit
documentation/photos/originals/DSC_0146.NEF
documentation/photos/originals/DSC_0146.photo-edit
documentation/photos/originals/DSC_0147.NEF
documentation/photos/originals/DSC_0147.photo-edit
documentation/photos/originals/DSC_0148.NEF
documentation/photos/originals/DSC_0148.photo-edit
documentation/photos/originals/DSC_0148.xmp
documentation/photos/originals/DSC_0149.NEF
documentation/photos/originals/DSC_0150.NEF
documentation/photos/originals/DSC_0150.photo-edit
documentation/photos/originals/DSC_0150.xmp
documentation/photos/originals/DSC_0151.NEF
documentation/photos/originals/DSC_0151.photo-edit
documentation/photos/originals/DSC_0152.NEF
documentation/photos/originals/DSC_0153.NEF
documentation/photos/originals/DSC_0153.photo-edit
documentation/photos/originals/DSC_0153.xmp
documentation/photos/originals/DSC_0154.NEF
documentation/photos/originals/DSC_0154.photo-edit
documentation/photos/originals/DSC_0154.xmp
documentation/photos/originals/DSC_0155.NEF
documentation/photos/originals/DSC_0155.photo-edit
documentation/photos/originals/DSC_0155.xmp
documentation/photos/originals/DSC_0156.NEF
documentation/photos/originals/DSC_0156.photo-edit
documentation/photos/originals/DSC_0156.xmp
documentation/photos/originals/DSC_0157.NEF
documentation/photos/originals/DSC_0157.photo-edit
documentation/photos/originals/DSC_0157.xmp
documentation/photos/originals/DSC_0158.NEF
documentation/photos/originals/DSC_0159.NEF
documentation/photos/originals/DSC_0160.NEF
documentation/photos/originals/DSC_0160.photo-edit
documentation/photos/originals/DSC_0160.xmp
documentation/photos/originals/IMG_0017.HEIC
documentation/photos/originals/IMG_0017.photo-edit
documentation/photos/originals/IMG_0018.HEIC
documentation/photos/originals/IMG_0018.photo-edit
documentation/photos/originals/IMG_0019.HEIC
documentation/photos/originals/IMG_0019.photo-edit
documentation/photos/originals/IMG_0020.HEIC
documentation/photos/originals/IMG_0020.photo-edit
documentation/photos/originals/IMG_0021.HEIC
documentation/photos/originals/IMG_0021.photo-edit
documentation/photos/originals/IMG_0022.HEIC
documentation/photos/originals/IMG_0022.photo-edit
documentation/photos/originals/IMG_0023.HEIC
documentation/photos/originals/IMG_0023.photo-edit
documentation/photos/originals/IMG_0024.HEIC
documentation/photos/originals/IMG_0024.photo-edit
documentation/photos/originals/IMG_0025.HEIC
documentation/photos/originals/IMG_0026.HEIC
documentation/photos/originals/IMG_0026.photo-edit
documentation/photos/originals/IMG_0027.HEIC
documentation/photos/originals/IMG_0027.photo-edit
documentation/photos/STR500_image_1.jpg
documentation/photos/STR500_image_10.jpg
documentation/photos/STR500_image_11.jpg
documentation/photos/STR500_image_12.jpg
documentation/photos/STR500_image_2.jpg
documentation/photos/STR500_image_3.jpg
documentation/photos/STR500_image_4 gametrak.jpg
documentation/photos/STR500_image_5 gametrak.jpg
documentation/photos/STR500_image_6.jpg
documentation/photos/STR500_image_7.jpg
documentation/photos/STR500_image_8.jpg
documentation/photos/STR500_image_9.jpg
documentation/video/STR500-IntroVideo_YT_iTT_English (United States).itt
documentation/video/STR500-IntroVideo_YT.m4v
documentation/video/STR500-IntroVideo_insta_iTT_English (United States).itt
documentation/video/STR500-IntroVideo_insta.m4v
documentation/video/STR500-image.png
documentation/video/STR500-frame.tiff
documentation/video/STR500 endscreen.png
documentation/video/STR500-IntroVideo_YT_social - HD 1080p_ittCaptionSuffix_English.itt
documentation/video/STR500-IntroVideo_YT_social - HD 1080p.mov
documentation/video/STR500-IntroVideo_YT_hi.m4v
documentation/video/STR500-IntroVideo_instashort_iTT_English (United States).itt
documentation/video/STR500-IntroVideo_instashort.m4v
documentation/video/STR500-IntroVideo_instashort - HD 720p_ittCaptionSuffix_English.itt
documentation/video/GametrakHacking_YT_iTT_English (United States).itt
documentation/video/GametrakHacking_YT.m4v
kicad/STR500_v1.2/.history/
